 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 52px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 146px auto 0 199px;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 36px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 112px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 391px;
  }
}