 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  font-family: "Patrick Hand";
  font-weight: normal;
  margin: 284px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 826px;
  font-size: 1.875rem;
  font-family: "Patrick Hand";
  font-weight: normal;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 157px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 698px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Patrick Hand";
  font-weight: 700;
  margin: 88px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 29px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: "Patrick Hand";
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Patrick Hand";
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-family: "Patrick Hand";
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-family: "Patrick Hand";
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-family: "Patrick Hand";
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-family: "Patrick Hand";
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: "Patrick Hand";
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 507px;
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1141px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 152px;
    margin-top: 40px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 422px;
}

.u-section-3 .u-group-1 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-family: "Patrick Hand";
  font-weight: 700;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Patrick Hand";
  font-weight: 300;
  margin: 22px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 38px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1rem;
    margin-top: 35px;
    padding-right: 32px;
    padding-left: 31px;
  }
} .u-section-4 {
  min-height: 541px;
  background-position: 50% 50%;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 541px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -64px auto 21px calc(((100% - 1140px) / 2) + -27px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 446px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -66px;
    margin-bottom: 22px;
    margin-left: calc(((100% - 940px) / 2) + -23px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 342px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -23px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 257px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -23px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 162px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -23px);
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 728px;
}

.u-section-5 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 40px 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 459px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 290px;
  height: 290px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-text-1 {
    font-family: "Patrick Hand";
    font-size: 3rem;
    margin-top: 53px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-5 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 33px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 253px;
    height: 253px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-5 .u-text-1 {
    width: 223px;
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 46px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 40px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}